<!doctype html>
<html>
<title>
LakeGIS
</title>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>
<script>
var map, 
marker, 
RecreationCenters = {}, 
marker_center,
markers = [],
water_distances = [],
forest_distances = [],
highway_distances = [],
railway_distances = [],
settlement_distances = [],
water_line,
forest_line,
highway_line,
railway_line,
settlement_line;

{% for RecreationModel in lakegis_app %}
	RecreationCenters[{{RecreationModel.id}}] = {
    		name: "{{RecreationModel.name}}",
    		lat: {{RecreationModel.geom.y}},
    		lng: {{RecreationModel.geom.x}},

		nearest_water:"{{RecreationModel.nearest_water}}",
		nearest_water_x:{{RecreationModel.nearest_water.geom.centroid.x}},
		nearest_water_y:{{RecreationModel.nearest_water.geom.centroid.y}},

		nearest_forest:"{{RecreationModel.nearest_forest}}",
		nearest_forest_x:{{RecreationModel.nearest_forest.geom.centroid.x}},
                nearest_forest_y:{{RecreationModel.nearest_forest.geom.centroid.y}},

		nearest_highway:"{{RecreationModel.nearest_highway}}",
		nearest_highway_x:{{RecreationModel.nearest_highway.geom.centroid.x}},
                nearest_highway_y:{{RecreationModel.nearest_highway.geom.centroid.y}},

		nearest_railway:"{{RecreationModel.nearest_railway_station}}",
		nearest_railway_x:{{RecreationModel.nearest_railway_station.geom.x}},
                nearest_railway_y:{{RecreationModel.nearest_railway_station.geom.y}},

		nearest_settlement:"{{RecreationModel.nearest_settlement}}",
		nearest_settlement_x:{{RecreationModel.nearest_settlement.geom.centroid.x}},
                nearest_settlement_y:{{RecreationModel.nearest_settlement.geom.centroid.y}},

		dist_to_water:{{RecreationModel.dist_to_water}},
		dist_to_forest:{{RecreationModel.dist_to_forest}},
		dist_to_highway:{{RecreationModel.dist_to_highway}},
		dist_to_railway:{{RecreationModel.dist_to_railway_station}},
		dist_to_settlement:{{RecreationModel.dist_to_settlement}}
   
	};
{% endfor %}

function removeLines(){
	if (water_line){
        	 water_line.setMap(null);
	}
        if (forest_line){
        	forest_line.setMap(null);
        }
	if (highway_line){
		highway_line.setMap(null);
	}
	if (railway_line){
		railway_line.setMap(null);
	}
	if (settlement_line){
		settlement_line.setMap(null);
	}
}

function setLines(recreationCenter){
	water_line = new google.maps.Polyline({
                        path: [new google.maps.LatLng(recreationCenter.nearest_water_y, recreationCenter.nearest_water_x),
                        new google.maps.LatLng(recreationCenter.lat, recreationCenter.lng)],
                        strokeColor: "#0000ff",
                        strokeOpacity: 1.0,
                        strokeWeight: 2,
                        map: map
                });

                forest_line = new google.maps.Polyline({
                        path: [new google.maps.LatLng(recreationCenter.nearest_forest_y, recreationCenter.nearest_forest_x),
                        new google.maps.LatLng(recreationCenter.lat, recreationCenter.lng)],
                        strokeColor: "#00ff00",
                        strokeOpacity: 1.0,
                        strokeWeight: 2,
                        map: map
                });

                highway_line = new google.maps.Polyline({
                        path: [new google.maps.LatLng(recreationCenter.nearest_highway_y, recreationCenter.nearest_highway_x),
                        new google.maps.LatLng(recreationCenter.lat, recreationCenter.lng)],
                        strokeColor: "#ffe800",
                        strokeOpacity: 1.0,
                        strokeWeight: 2,
                        map: map
                });

                railway_line = new google.maps.Polyline({
                        path: [new google.maps.LatLng(recreationCenter.nearest_railway_y, recreationCenter.nearest_railway_x),
                        new google.maps.LatLng(recreationCenter.lat, recreationCenter.lng)],
                        strokeColor: "#b20075",
                        strokeOpacity: 1.0,
                        strokeWeight: 2,
                        map: map
                });

                settlement_line = new google.maps.Polyline({
                        path: [new google.maps.LatLng(recreationCenter.nearest_settlement_y, recreationCenter.nearest_settlement_x),
                        new google.maps.LatLng(recreationCenter.lat, recreationCenter.lng)],
                        strokeColor: "#ff0000",
                        strokeOpacity: 1.0,
                        strokeWeight: 2,
                        map: map
                });

}

function initializeMaps() {
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: new google.maps.LatLng(54.9870700737, 61.5862655554),
        mapTypeId: google.maps.MapTypeId.HYBRID
	});
	var infowindow = new google.maps.InfoWindow(), marker, i;
	for (var i in RecreationCenters) {
		var latlng = new google.maps.LatLng(RecreationCenters[i].lat, RecreationCenters[i].lng);
		var marker = new google.maps.Marker({
      			position: latlng, 
      			map: map, 
      			title:RecreationCenters[i].name
    		}); 
		markers.push(marker);
		water_distances.push(RecreationCenters[i].dist_to_water);
		forest_distances.push(RecreationCenters[i].dist_to_forest);
		highway_distances.push(RecreationCenters[i].dist_to_highway);
		railway_distances.push(RecreationCenters[i].dist_to_railway);
		settlement_distances.push(RecreationCenters[i].dist_to_settlement);

	
		google.maps.event.addListener(marker, 'click', (function(marker, i) {
	        	return function() {
        		    infowindow.setContent(RecreationCenters[i].name + '<br>' 
				+ 'Ближайший водоём: ' + RecreationCenters[i].nearest_water 
				+ '(' + RecreationCenters[i].dist_to_water + 'km)' + '<br>'
				+ 'Ближайший лес: ' + RecreationCenters[i].nearest_forest 
				+ '(' + RecreationCenters[i].dist_to_forest + 'km)' + '<br>'
				+ 'Ближайшая трасса: ' + RecreationCenters[i].nearest_highway 
				+ '(' + RecreationCenters[i].dist_to_highway + 'km)' + '<br>'
				+ 'Ближайшая ж/д станция: ' + RecreationCenters[i].nearest_railway 
				+ '(' + RecreationCenters[i].dist_to_railway + 'km)' + '<br>'
				+ 'Ближайший населённый пункт: ' + RecreationCenters[i].nearest_settlement
				+ '(' + RecreationCenters[i].dist_to_settlement + 'km)' 
			    );
        		    infowindow.open(map, marker);

			    removeLines();
			    setLines(RecreationCenters[i]);	    

        		}
    		})(marker, i));
		

	}
}



$(document).ready(function(){
    function activateRecreationCenters(){
	$('.RecreationCenter').each(function(){
            $(this).click(function(){
		for (var i=0; i<markers.length; i++){
			markers[i].setMap(null);
		}
		var recreationCenter = RecreationCenters[this.id];
		var point = new google.maps.LatLng(recreationCenter.lat, recreationCenter.lng);
		if (marker_center)
			marker_center.setMap();
                marker_center = new google.maps.Marker({
                        position: point,
                        map: map,
                        title:recreationCenter.name
                });

		map.panTo(point);

		removeLines();
		setLines(recreationCenter);
		
		var infowindow = new google.maps.InfoWindow();
		google.maps.event.addListener(marker_center, 'click', (function(marker_center) {
                        return function() {
                            	infowindow.setContent(recreationCenter.name + '<br>'
	                                + 'Ближайший водоём: ' + recreationCenter.nearest_water
        	                        + '(' + recreationCenter.dist_to_water + 'km)' + '<br>'
                	                + 'Ближайший лес: ' + recreationCenter.nearest_forest
                        	        + '(' + recreationCenter.dist_to_forest + 'km)' + '<br>'
                                	+ 'Ближайшая трасса: ' + recreationCenter.nearest_highway
	                                + '(' + recreationCenter.dist_to_highway + 'km)' + '<br>'
        	                        + 'Ближайшая ж/д станция: ' + recreationCenter.nearest_railway
                	                + '(' + recreationCenter.dist_to_railway + 'km)' + '<br>'
                        	        + 'Ближайший населённый пункт: ' + recreationCenter.nearest_settlement
                                	+ '(' + recreationCenter.dist_to_settlement + 'km)'
                            	);
				infowindow.open(map, marker_center);		
				

                        }
                })(marker_center));
		


	    }).hover(
		function(){
			this.className = this.className.replace('OFF', 'ON');
		},
		function(){
			this.className = this.className.replace('ON', 'OFF');
		}
	    );
	});
    }
    activateRecreationCenters();
});

function showAllCenters(){
	for (var i=0; i<markers.length; i++){
		markers[i].setMap(map);
	}
	removeLines();

}

function showCentersByCriteria(){
	for (var i=0; i<markers.length; i++){
		if (	(
			$('#min_dist_to_water').val()=="" || $('#max_dist_to_water').val()=="" 
		    	|| ( water_distances[i]>$('#min_dist_to_water').val() && water_distances[i]<$('#max_dist_to_water').val() )
			)
		    && 
			(
			$('#min_dist_to_forest').val()=="" || $('#max_dist_to_forest').val()==""
			|| ( forest_distances[i]>$('#min_dist_to_forest').val() && forest_distances[i]<$('#max_dist_to_forest').val() )
			)
		    && 
			(
			$('#min_dist_to_highway').val()=="" || $('#max_dist_to_highway').val()==""
			|| ( highway_distances[i]>$('#min_dist_to_highway').val() && highway_distances[i]<$('#max_dist_to_highway').val() )
			)
		    && 
			(
			$('#min_dist_to_railway').val()=="" || $('#max_dist_to_railway').val()==""
			|| ( railway_distances[i]>$('#min_dist_to_railway').val() && railway_distances[i]<$('#max_dist_to_railway').val() )
			)
		    && 
			(
			$('#min_dist_to_settlement').val()=="" || $('#max_dist_to_settlement').val()==""
			|| ( settlement_distances[i]>$('#min_dist_to_settlement').val() && settlement_distances[i]<$('#max_dist_to_settlement').val() )
			)
		){
			markers[i].setMap(map);
		} else {
			markers[i].setMap(null);
		}
	}
	
	removeLines();
}

</script>
<style>
    body {
	font-family: sans-serif
    }

    #map {
	position: absolute;
	width: 800px; 
	height: 600px;
	display:block;
	float: left;
	margin: 20px
    }

    #RecreationCenters {
	position: absolute;
	left: 850px;
	margin: 20px;
	float: left;
	overflow:auto;	 
	width: 500px; 
	height: 600px
    }
    .linkOFF {
	color: darkblue
    }
    .linkON {
	color: white; 
	background-color: darkblue
    }

    #ControlPanel{
	position: absolute;
	top: 650px;
        margin: 20px;
	float: left;
    }

    .Criteria{
	float: left;
	display: inline;
	margin-right: 30px;
    }

    .header{
	font-size: 20px;
	height: 30px;
}

</style>
</head>
<body onload='initializeMaps()'>
	<div id=map></div>
	<div id=RecreationCenters>
		{{content}}
	</div>
	<div id="ControlPanel">
      		<input onclick="showAllCenters();" type=button value="Отобразить все известные базы отдыха">
		<input onclick="showCentersByCriteria()" type=button value="Отобразить базы по критериям поиска">
		<div class="header"><br><b>Критерии поиска:</b></div><br><br>
		<div class="Criteria">
			<b>Расстояние до водоёма (km)</b><br>
			Минимальное: <br> <input name=min_dist_to_water id="min_dist_to_water" type="text" size="10" float="right"><br>
			Максимальное: <br> <input name=max_dist_to_water id="max_dist_to_water" type="text" size="10"><br>
		</div>
                <div class="Criteria">
                        <b>Расстояние до леса (km)</b><br>
                        Минимальное: <br> <input name=min_dist_to_forest id="min_dist_to_forest" type="text" size="10" float="right"><br>
                        Максимальное: <br> <input name=max_dist_to_forest id="max_dist_to_forest" type="text" size="10"><br>
                </div>
                <div class="Criteria">
                        <b>Расстояние до трассы (km)</b><br>
                        Минимальное: <br> <input name=min_dist_to_highway id="min_dist_to_highway" type="text" size="10" float="right"><br>
                        Максимальное: <br> <input name=max_dist_to_highway id="max_dist_to_highway" type="text" size="10"><br>
                </div>
                <div class="Criteria">
                        <b>Расстояние до ж/д станции (km)</b><br>
                        Минимальное: <br> <input name=min_dist_to_railway id="min_dist_to_railway" type="text" size="10" float="right"><br>
                        Максимальное: <br> <input name=max_dist_to_railway id="max_dist_to_railway" type="text" size="10"><br>
                </div>
                <div class="Criteria">
                        <b>Расстояние до населённого пункта (km)</b><br>
                        Минимальное: <br> <input name=min_dist_to_settlement id="min_dist_to_settlement" type="text" size="10" float="right"><br>
                        Максимальное: <br> <input name=max_dist_to_settlement id="max_dist_to_settlement" type="text" size="10"><br>
                </div>

	</div>

</body>
</html>
