<!doctype html> 
<html> 
<title> LakeGIS </title> 
<head> 
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 
<script src="http://maps.google.com/maps/api/js?sensor=false"></script> <script 
src="http://code.jquery.com/jquery-1.4.4.min.js"></script> 
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script> 

<script> 

var map; 
var markers = {}; 

var lineCollections = {}; function clearLines() {
    for(var id in lineCollections) {
        lines = lineCollections[id];
        lines.waterLine.setMap(null);
        lines.forestLine.setMap(null);
        lines.highwayLine.setMap(null);
        lines.railwayStationLine.setMap(null);
        lines.settlementLine.setMap(null);
    }
    lineCollections = {};
}


function clearMarkers() {
        clearLines();
	for(var id in markers) {
		markers[id].setMap(null);
	}
        markers = {};
}


function createLines(recreationCenter) {
	var lines = Object();
	lines.waterLine = new google.maps.Polyline({
		path: [
			new google.maps.LatLng(recreationCenter.nearest_water.lat, recreationCenter.nearest_water.lon),
			new google.maps.LatLng(recreationCenter.lat, recreationCenter.lon)
		],
		strokeColor: '#0000ff',
		strokeOpacity: 1.0,
		strokeWeight: 2,
		map: map
	});
	lines.forestLine = new google.maps.Polyline({
		path: [
			new google.maps.LatLng(recreationCenter.nearest_forest.lat, recreationCenter.nearest_forest.lon),
			new google.maps.LatLng(recreationCenter.lat, recreationCenter.lon)
		],
		strokeColor: '#00ff00',
		strokeOpacity: 1.0,
		strokeWeight: 2,
		map: map
	});
	lines.highwayLine = new google.maps.Polyline({
		path: [
			new google.maps.LatLng(recreationCenter.nearest_highway.lat, recreationCenter.nearest_highway.lon),
			new google.maps.LatLng(recreationCenter.lat, recreationCenter.lon)
		],
		strokeColor: '#ffe800',
		strokeOpacity: 1.0,
		strokeWeight: 2,
		map: map
	});
	lines.railwayStationLine = new google.maps.Polyline({
		path: [
			new google.maps.LatLng(recreationCenter.nearest_railway_station.lat, recreationCenter.nearest_railway_station.lon),
			new google.maps.LatLng(recreationCenter.lat, recreationCenter.lon)
		],
		strokeColor: '#b20075',
		strokeOpacity: 1.0,
		strokeWeight: 2,
		map: map
	});
	lines.settlementLine = new google.maps.Polyline({
		path: [
			new google.maps.LatLng(recreationCenter.nearest_settlement.lat, recreationCenter.nearest_settlement.lon),
			new google.maps.LatLng(recreationCenter.lat, recreationCenter.lon)
		],
		strokeColor: '#ff0000',
		strokeWeight: 2,
		map: map
	});
	lineCollections[recreationCenter.id] = lines;
}


function deleteLines(recreationCenter) {
	var lines = lineCollections[recreationCenter.id];
	if(lines != undefined) {
		lines.waterLine.setMap(null);
		lines.forestLine.setMap(null);
		lines.highwayLine.setMap(null);
		lines.railwayStationLine.setMap(null);
		lines.settlementLine.setMap(null);
		delete lineCollections[recreationCenter.id];
	}
}


function addMarker(recreationCenter) {
	var latlng = new google.maps.LatLng(recreationCenter.lat, recreationCenter.lon);
	var marker = new google.maps.Marker({
		position: latlng,
		map: map,
		title: recreationCenter.name
	});
	markers[recreationCenter.id] = marker;
	google.maps.event.addListener(marker, 'click', (function(marker, recreationCenter) {
		return function() {
			var infoWindow = new google.maps.InfoWindow();
			infoWindow.setContent(
				recreationCenter.name + '<br>'
				+ 'Ближайший водоем: ' + recreationCenter.nearest_water.name
				+ '(' + recreationCenter.dist_to_water.toFixed(3) + ' км.)' + '<br>'
				+ 'Ближайший лес: ' + recreationCenter.nearest_forest.name
				+ '(' + recreationCenter.dist_to_forest.toFixed(3) + ' км.)' + '<br>'
				+ 'Ближайшая трасса: ' + recreationCenter.nearest_highway.name
				+ '(' + recreationCenter.dist_to_highway.toFixed(3) + ' км.)' + '<br>'
				+ 'Ближайшая ж/д станция: ' + recreationCenter.nearest_railway_station.name
				+ '(' + recreationCenter.dist_to_railway_station.toFixed(3) + ' км.)' + '<br>'
				+ 'Ближайший населенный пункт: ' + recreationCenter.nearest_settlement.name
				+ '(' + recreationCenter.dist_to_settlement.toFixed(3) + ' км.)'
			);
			infoWindow.open(map, marker);
			createLines(recreationCenter);
			google.maps.event.addListener(infoWindow, 'closeclick', (function(recreationCenter) {
				return function() {
					deleteLines(recreationCenter);
				}
			})(recreationCenter));
		}
	})(marker, recreationCenter));
}


function setupMarkers(recreationCenters) {
	clearMarkers();
	var namesText = '';
	for(var i = 0; i < recreationCenters.length; ++i) {
		var recreationCenter = recreationCenters[i];
		addMarker(recreationCenter);
		namesText += '<div id = ' + recreationCenter.id + ' class =\'RecreationCenter linkOFF\' >'
			+ recreationCenter.name
			+ '</div>'
		;
	}
	$('#RecreationCenters').html(namesText);
	$('.RecreationCenter').each(function() {
		$(this).click(
			function() {
				var marker = markers[this.id];
				google.maps.event.trigger(marker, 'click');
				map.panTo(marker.getPosition());
			}
		);
		$(this).hover(
			function() {
				this.className = this.className.replace('OFF', 'ON');
			},
			function() {
				this.className = this.className.replace('ON', 'OFF');
			}
		);
	});
}


function onDataReceive(recreationCenters) {
	setupMarkers(recreationCenters);
}


function initializeMaps() {
	map = new google.maps.Map(
		document.getElementById('map'),
		{
        		zoom: 8,
        		center: new google.maps.LatLng(54.9870700737, 61.5862655554),
        		mapTypeId: google.maps.MapTypeId.HYBRID
		}
	);
}


function showAllCenters() {
	$.ajax({
		url: '/all_rcs/',
		type: 'GET',
		dataType: 'json',
		cache: 'false',
		success: onDataReceive
	});
}


function pageInit() {
	initializeMaps();
	showAllCenters();
}


function showCentersByCriteria(){
	var data = Object();
	var water_min = parseFloat($('#min_dist_to_water').val());
	if(!isNaN(water_min)) {
		data.water_min = water_min;
	}
	var water_max = parseFloat($('#max_dist_to_water').val());
	if(!isNaN(water_max)) {
		data.water_max = water_max;
	}
	var forest_min = parseFloat($('#min_dist_to_forest').val());
	if(!isNaN(forest_min)) {
		data.forest_min = forest_min;
	}
	var forest_max = parseFloat($('#max_dist_to_forest').val());
	if(!isNaN(forest_max)) {
		data.forest_max = forest_max;
	}
	var highway_min = parseFloat($('#min_dist_to_highway').val());
	if(!isNaN(highway_min)) {
		data.highway_min = highway_min;
	}
	var highway_max = parseFloat($('#max_dist_to_highway').val());
	if(!isNaN(highway_max)) {
		data.highway_max = highway_max;
	}
	var railway_station_min = parseFloat($('#min_dist_to_railway').val());
	if(!isNaN(railway_station_min)) {
		data.railway_station_min = railway_station_min;
	}
	var railway_station_max = parseFloat($('#max_dist_to_railway').val());
	if(!isNaN(railway_station_max)) {
		data.railway_station_max = railway_station_max;
	}
	var settlement_min = parseFloat($('#min_dist_to_settlement').val());
	if(!isNaN(settlement_min)) {
		data.settlement_min = settlement_min;
	}
	var settlement_max = parseFloat($('#max_dist_to_settlement').val());
	if(!isNaN(settlement_max)) {
		data.settlement_max = settlement_max;
	}
	$.ajax({
		url: '/filter_rcs/',
		data: data,
		type: 'GET',
		dataType: 'json',
		cache: 'false',
		success: onDataReceive
	})
}


</script> 


</head> 

<body onload='pageInit()'>
{% load staticfiles %}

<link href="{% static "lakegis_app/main_style.css" %}" rel="stylesheet">
	<div id="appName">LakeGIS</div>
	<div id="map"></div>
	<div class="header"><br>Базы отдыха:</div>
	<div id="RecreationCenters">
	</div>
	<div id="ControlPanel">
      		<input onclick="showAllCenters();" type=button value="Отобразить все известные базы отдыха">
		<input onclick="showCentersByCriteria()" type=button value="Отобразить базы по критериям поиска">
		<br><br><b>
                Кликните на маркер базы отдыха, чтобы просмотреть информацию о ближайших к ней объектах.
                <br>
                Указатели на ближайшие объекты окрашены в соответствующие цвета:
                <br>
                <img src="http://cs540108.vk.me/c605424/v605424934/58c9/2WOE9C_0wtU.jpg" width="40%" alt="Указатели">

                </b>

		<div class="header"><br><b>Критерии поиска:</b></div><br><br>
		<div class="Criteria">
			<b>Расстояние до водоёма (км.)</b><br>
			Минимальное: <br> <input name=min_dist_to_water id="min_dist_to_water" type="text" size="10" float="right"><br>
			Максимальное: <br> <input name=max_dist_to_water id="max_dist_to_water" type="text" size="10"><br>
		</div>
                <div class="Criteria">
                        <b>Расстояние до леса (км.)</b><br>
                        Минимальное: <br> <input name=min_dist_to_forest id="min_dist_to_forest" type="text" size="10" float="right"><br>
                        Максимальное: <br> <input name=max_dist_to_forest id="max_dist_to_forest" type="text" size="10"><br>
                </div>
                <div class="Criteria">
                        <b>Расстояние до трассы (км.)</b><br>
                        Минимальное: <br> <input name=min_dist_to_highway id="min_dist_to_highway" type="text" size="10" float="right"><br>
                        Максимальное: <br> <input name=max_dist_to_highway id="max_dist_to_highway" type="text" size="10"><br>
                </div>
                <div class="Criteria">
                        <b>Расстояние до ж/д станции (км.)</b><br>
                        Минимальное: <br> <input name=min_dist_to_railway id="min_dist_to_railway" type="text" size="10" float="right"><br>
                        Максимальное: <br> <input name=max_dist_to_railway id="max_dist_to_railway" type="text" size="10"><br>
                </div>
                <div class="Criteria">
                        <b>Расстояние до населённого пункта (км.)</b><br>
                        Минимальное: <br> <input name=min_dist_to_settlement id="min_dist_to_settlement" type="text" size="10" float="right"><br>
                        Максимальное: <br> <input name=max_dist_to_settlement id="max_dist_to_settlement" type="text" size="10"><br>
                </div>
	</div> </body> </html>
