<!doctype html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
<script>
var map, marker, RecreationCenters = {};

{% for RecreationModel in lakegis_app %}
RecreationCenters[{{RecreationModel.id}}] = {
    name: "{{RecreationModel.name}}",
    lat: {{RecreationModel.geom.y}},
    lng: {{RecreationModel.geom.x}},
   
};
{% endfor %}


function initializeMaps() {
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: new google.maps.LatLng(54.9870700737, 61.5862655554),
        mapTypeId: google.maps.MapTypeId.ROADMAP
	});
	var infowindow = new google.maps.InfoWindow(), marker, i;
	for (var i in RecreationCenters) {
		var latlng = new google.maps.LatLng(RecreationCenters[i].lat, RecreationCenters[i].lng);
		var marker = new google.maps.Marker({
      			position: latlng, 
      			map: map, 
      			title:RecreationCenters[i].name
    		}); 
	
		google.maps.event.addListener(marker, 'click', (function(marker, i) {
        	return function() {
        		infowindow.setContent(RecreationCenters[i].name);
        		infowindow.open(map, marker);
        		}
    		})(marker, i));
	}
}

</script>
<style>
    body {font-family: sans-serif}
    #map {width: 1000px; height: 600px}
    #waters {overflow: auto; width: 500px; height: 100px}
    .linkOFF {color: darkblue}
    .linkON {color: white; background-color: darkblue}
</style>
</head>
<body onload='initializeMaps()'>
    <div id=map></div>
    <div id=RecreationCenters>
        {{content}}
    </div>
</body>
</html>
